// Body
$body-bg: white;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
// 14px 18px 20px 60px
$font-size-base: 0.875rem;
$font-size-large: 1.125rem;
$font-size-x-large: 1.25rem;
$font-size-xx-large: 3.75rem;

$line-height-small: 1.2;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$color-white: white;

$color-primary: #6fc13e;
$color-primary-light: #c8ebb3;
$color-secondary-lightest: #f6f6f6;
$color-secondary-light: #ababab;
$color-secondary: #4b4a49;
$color-secondary-dark: #191919;

// Screen Sizes
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1366px;
$screen-xl: 1680px;
