.form {
    width: fit-content;
    max-width: 100%;

    & > * {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &--centered {
        margin: 0 auto;
    }

}